h1{
	font-size: 2rem;
	font-weight: 700;
}

p{
	text-align: center;
	font-size: 1.6rem;
	font-weight: 100;
}

span{
	font-weight: 100;
}

img{
	height: auto;
	width: 100%;
}

$color: #e1e8f0;
$color-principal: #EEEEEE;
$color-secundario: #8568ed;
$color-terciario: #2c3089;
$color-cuaternario: #ffffff;